.hotel
{
  display:flex;
  width:50%;
  color:white;
  background-color: white;
  padding:30px;
}
hr{
    color:white;
}
.hotel img{
  width:250px;
  height:180px;
  border:1px solid gary;
  border-radius: 5px;
  padding:4px;
}
.hotelDetail{

   width:300px;
  height:160px;
  color:gray;
}